/* MOBILE AND TABLET NAVIGATION MENU */
/* hide the sidebar menu */
#nav_menu-2 {
	display: none;
}

/* nav menu and button styles */
.main-navigation {
	display: block;
	width: 100%;
	padding-top: 20px;
}

.main-navigation ul:not(.sub-menu) {
	list-style: none;
	margin: 20px 0 0 20px;
	padding: 20px;
	position: fixed;
	top: 35px;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	z-index: 2;
	box-sizing: border-box;
	transform: translateX(-100%);
	transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

/* slide in from the left */
.main-navigation.toggled ul {
	left: 0;
	transform: translateX(0%);
}

.main-navigation ul li {
	font-size: 1.2rem;
	padding: 10px 0 10px 20px;
}

.main-navigation ul li a {
	text-decoration: none;
	color: var(--font-color);
}

/* sub-menu styles */
.sub-menu {
	list-style: none;
}

.main-navigation .menu-item-has-children {
	padding-top: 0;
	padding-bottom: 0;
}

.main-navigation button {
	border: none;
	opacity: 0;
	background-color: var(--background-color);
	color: var(--font-color);
	font-size: 2rem;
	padding: 10px;
	position: absolute;
    top: 20px;
	left: 30px;
    width: 95px;
    height: 50px;
	cursor: pointer;
	z-index: 2;
}

/* hamburger menu styles */

/* style the spans */
.main-navigation span {
	display: block;
	width: 33px;
	height: 4px;
	margin-left: 20px;
	margin-bottom: 5px;
	position: relative;
	background: var(--font-color);
	border-radius: 3px;
	z-index: 1;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.55s ease; 
				
	cursor: pointer;
}

/* first span */
.main-navigation span:first-child {
  transform-origin: 40% 0%;
}

/* second span */
.main-navigation span:nth-child(2) {
  transform-origin: 0% 100%;
}

/* transform the hamburger */
.main-navigation.toggled span:first-child {
   opacity: 1;
   transform: rotate(45deg) translate(-5px, 0px);
   background: #232323;
}
 
 /* second one goes opposite direction */
.main-navigation.toggled span:nth-child(2) {
   transform: rotate(-45deg) translate(0, 0);
}

/* SIDEBAR - DESKTOP */
	#nav_menu-2 {
		display: block;
	}

	#menu-left-sidebar {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-left: 2px solid var(--border-color);
		border-right: 2px solid var(--border-color);
		border-bottom: 2px solid var(--border-color);
		margin-left: 0;
		width: 237px;
	}

	#menu-left-sidebar li:first-child {
		margin-top: 70px;
	}

	#menu-left-sidebar li {
		margin: 20px 0;
		padding: 0 30px;
		text-align: center;
		border: 1px solid red;
	}

	#menu-left-sidebar li a {
		color: var(--font-color);
		text-decoration: none;
		font-size: 2.5rem;
		line-height: 2.8rem;
	}

	/* sub-menu styles */
	.sub-menu {
		display: none;
		position: relative;
    	top: 50px;
    	left: -100px;
    	background-color: var(--background-color);
	}

	.sub-menu.clicked {
		display: block;
		width: 0px;
	}

	i {
		cursor: pointer;
		font-size: 1.5rem;
		margin: 0 15px;
		transition: transform 0.5s ease;
		border: 1px solid red;
	}

	i.clicked {
		transform: rotate(90deg);
		transform-origin: center center;
	}

	#menu-left-sidebar .sub-menu li {
		padding: 0;
		width: 150px;
		text-align: left;
		border: 1px solid red;
	}

	#menu-left-sidebar .sub-menu li a {
		font-size: 1.3rem;
		line-height: 1rem;
	}

	#menu-left-sidebar .sub-menu li:first-child {
		margin: 0;
		padding: 0;
	}

	.menu-item-has-children {
		display: flex;
		align-items: center;
	}